@font-face {
    font-family: font-1;
    src: url(./assets/Montserrat-Bold.ttf);
}

body {
    background-image: url(./assets/background.png);
    overflow: hidden;
}

h1 {
    font-family: font-1;
    color: white;
    margin-left: 2%;
}

.video {
    margin-top: 10px;
    margin-left: 1%;
}